body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: url("assets/images/aidan-hancock-8RU4OuA6Yug-unsplash.png");
  background-color: #cccccc;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-5%, -50%);
  color: #141414;
  font-family: 'Nunito Sans', sans-serif;
}

.gray {
  color: #787878;
}

.bck-gray {
  background-color: #F5F5F5;
}

#font-Mont {
  font-family: 'Montserrat', sans-serifs;
}

.bck-blue {
  background-color: #10C9C3;
}

#blue {
  color: #10C9C3;
}

.button {
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.smth {
  font-family: 'Nunito Sans', sans-serif;
}

.bckg-gray {
  background-color: #cccccc;
}

.graaaay {
  color: #F5F5F5;
}
.textpadding {
  padding-top: 69px;
}

.logo {
  margin:10px;
  padding:10px;
  margin-left:20px;
}

------------------------------------------------------------------------------
.imageoverlay:hover {
  opacity: 0.8;
  transition: 1s ease;
}

.contain {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 40%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.iconoverlay {
  background-color: #000000;
  opacity: 0.75;
  font-size: 16px;
  padding: 150px 163px;
}

.contain {
  width: 50%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.contain:hover .image {
  opacity: 0.3;
}

.contain:hover .middle {
  opacity: 1;
}
